@import "tailwindcss";

@theme {
  --color-background: #0D0D0D;
  --color-surface: #1A1A1A;
  --color-primary: #1E90FF;
  --color-secondary: #999999;
}

body {
  background-color: var(--color-background);
  color: #FFFFFF;
}